@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --color-blue-dark: #0B0D17;
  --color-blue-light: #D0D6F9;
  --font-bellefair: "Bellefair", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --tracking-15: 0.15em;
  --animate-spin-slow: spin 4s linear infinite;
}

.transition-500 {
  @apply transition-all duration-500 ease-in-out
}